.leftsidebar-container {
  border-right: 1px black solid;
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.leftsidebar-form {
  flex: 2;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.buttons-container {
  flex: 1;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

.node-and-edge-list {
  flex: 2;
  display: flex;
  flex-flow: row wrap;
  border-top: 1px solid black;
  width: 100%;
  border-bottom: black 1px solid;
}

.list-items {
  flex: 1;
  max-height: 50vh;
  width: auto;
  overflow-y: scroll;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.list-items {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.list-items::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.nodes-list-node:hover {
  color: lightgray;
  cursor: pointer;
}

body::-webkit-scrollbar {
  display: none;
}

.edges-list-edge:hover {
  color: lightgray;
  cursor: pointer;
}
