.rightsidebar-container {
  border-left: 1px black solid;
  flex: 1;
  padding: 3px;
  display: flex;
  flex-direction: column;
}

.node-settings {
  flex: 1;
}

.edge-settings {
  flex: 1;
  border-top: 1px solid black;
}

.node-information {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.connection {
  padding: 1px;
}
.connection:hover {
  text-decoration: line-through;
}

.connected-edge-list {
  max-height: 25vh;
  overflow-y: scroll;
}
.connected-edge-list {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.connected-edge-list::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
